body{
    margin: 0px;
}

p{
    margin: 0%;
}

td{
    padding: 8px;
}


a:link, a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

/* -----------text----------- */
.bold-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 65px;
    margin: 0%;
    color: white;
}

.regular-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 50px;
    margin: 0%;
    color: white;
}

.heading-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: black; 
    text-align: center;
    padding-top: 50px;
    padding-bottom: 79px;


}

/* -----------nav bar----------- */
.nav-bar{
    background-color: #DDDDDD;
    height: 100px;
    left: 0px;
    top: 0px;
    margin: 0px;
}

.logo-img{
    padding-left: 64px;
    padding-top: 17px;
    padding-bottom: 17px;
}

/* -----------home----------- */
.tag-line{
    padding: 299px 704px 263px 95px;
}

.doc-image{
    position: absolute;
    width: 520px;
    height: 779px;
    left: 1240px;
    top: 150px;

}

/* -----------appointment----------- */
.appointment{
    background-color: white;
}

.baa-text{
    padding-top: 75px;
}

.appointment-table{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin: 0%;
    padding-bottom: 100px;
}

.form-font{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin: 0%;
}

.btn{
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    color: #ffffff;
    font-size: 26px;
    background: #2A7FBA;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #2A7FBA;
    text-decoration: none;
  }

.btn-make-app{
    margin-top: 30px;
    margin-left: 93px;
}


